.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include fontPrimary;



    .errorNumber {
        font-weight: bolder;
        font-size: 180px;
        padding: 40px;
        margin-bottom: 40px;
        margin-top: 50px;

    }

    .errorText {
        font-weight: 700;
        font-size: 30px;
        padding: 40px;
    }
}

.errorLink {
    color: #ff6060;
    font-size: 18px;
    padding: 40px;
    margin-bottom: 50px;
}


@media screen and (max-width:900px) {
    .errorContainer {
        .errorNumber {
            font-size: 80px;
        }

        .errorText {
            font-size: 20px;
        }

        .errorLink {
            text-align: center;
        }
    }
}