.footer-container {
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 1.83vw;
    padding-bottom: 0.91vw;
    overflow: hidden;
    margin-top: 2.10vw;
    margin-bottom: 0;



    &img {
        align-self: center;
    }
}