.footer-container {
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-top: 20px;
}

.logo-Kasa {
    margin-bottom: 40px;
}