.footer-container {
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    margin-top: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.logo-Kasa {
    margin-bottom: 20px;
}


@media screen and (max-width:900px) {
    .footer-container {
        padding-top: 12vw;
        padding-bottom: 16vw;
        overflow-y: hidden;
    }
}