//Header style//
.header-container {
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    img {
        display: flex;
        width: 10vw;
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5vw;
    font-family: "Montserrat";
}

.Home {
    display: flex;
    color: #FF6060;
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.About {
    display: flex;
    color: #FF6060;
    text-decoration: none;
    font-weight: bold;
    padding-left: 2.5em;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}


// Fin du header style//

//Slogan style//

.slogan-container {

    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 12vw;
    width: 89vw;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-radius: 10px;

}

.section1 {
    width: 100vw;
    height: 100%;
    margin: 0;
    font-family: "MontSerrat";
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.slogan {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0;
    opacity: 100%;
    filter: brightness(80%);
    z-index: -1;
    text-align: center;
}

.sloganText {
    position: absolute;
    z-index: 3;
    text-align: center;
    top: 7.5vw;
    bottom: 7.5vw;
    color: #fff;
    font-size: 2.52vw;

}

//fin su slogan style//

//media queries//

@media only screen and (max-width :1199px) {
    .header {
        margin-left: 0;
    }
}