//Header style//
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    img {
        display: flex;
        width: 10vw;
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5vw;
    font-family: "Montserrat";
}

.Home {
    display: flex;
    color: #FF6060;
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.About {
    display: flex;
    color: #FF6060;
    text-decoration: none;
    font-weight: bold;
    padding-left: 2.5em;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}


// Fin du header style//

//Slogan style//

.slogan-container {

    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 2%;

}

.section1 {
    width: 100vw;
    height: 100%;
    margin: 0;
    font-family: "MontSerrat";
    display: flex;
}

.slogan {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
}

//fin su slogan style//

//media queries//

@media only screen and (max-width :1199px) {
    .header {
        margin-left: 0;
    }
}