.collapse {
    width: 100%;

    &__visible {
        margin-right: auto;
        margin-left: auto;
        background-color: #FF6060;
        color: white;
        font-family: "Montserrat";
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 1.57vw;
        padding: 10px 20px 10px 15px;
        border-radius: 5px;
        width: 75vw;
        font-size: 1.2vw;
    }

    &__toggle {
        margin-top: 0;
        overflow: hidden;
        height: 0;
        opacity: 0;
        border-radius: 5px;
        background: #f6f6f6;
        padding: 0 0.94vw 0 0.94vw;
        margin-bottom: 2vw;
        transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-family: "Montserrat";
        font-weight: bold;
        line-height: 2vw;
    }
}

.collapse__toggle-animated {
    opacity: 1;
    transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    background: #f6f6f6;
    padding: 0 0.94vw 0 0.94vw;
    text-align: left;
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 2vw;
    margin-bottom: 1vw;
}

.paragraphCollapse {
    color: $primary-color;
}

.chevron {
    width: 50px;
    transform: rotate(0deg);
    transition: 0.4s ease-in-out;


}

.rotated {
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
}

@media screen and (max-width:980px) {

    .collapse__visible {
        font-size: 12px;
    }

    .collapse__toggle-animated {
        width: 82vw;
        padding: 2vw 0.94vw 2vw 0.94vw;
    }

    .collapse__toggle {
        width: 82vw;
        padding: 2vw 0.94vw 2vw 0.94vw;
    }

    .paragraphCollapse {
        font-size: 10px;
        line-height: 3vw;
    }
}