.collapse {
    width: 100%;

    &__visible {
        margin-right: auto;
        margin-left: auto;
        background-color: #FF6060;
        color: white;
        font-family: "Montserrat";
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 1.57vw;
        padding: 10px 20px 10px 15px;
        border-radius: 5px;
        width: 50vw;
        font-size: 1vw;
    }

    &__toggle {
        margin-top: 0;
        overflow: hidden;
        height: 0;
        opacity: 0;
        border-radius: 5px;
        padding: 5px 15px 0 15px;
        transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-family: "Montserrat";
        font-weight: bold;
        line-height: 2em;
        margin-bottom: 2vw;
    }

    p {
        color: #FF6060;
        pointer-events: none;
        margin: 0;

    }
}

.collapse__toggle-animated {
    opacity: 1;
    transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px 0 15px;
    text-align: left;
    font-family: "Montserrat";
    font-weight: bold;
    margin-bottom: 2vw;
}

.chevron {
    width: 50px;
    transform: rotate(0deg);
    transition: 0.4s ease-in-out;


}

.rotated {
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
}