.hostInfo-container {
    width: 100%;
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.title-container {
    font-family: "Montserrat";
    color: $primary-color;

    h1 {
        font-size: 1.56vw;
    }

    h3 {
        font-size: 1.04vw;
    }
}



.host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hostPicture {
    & img {
        border-radius: 50%;
        object-fit: cover;
        height: 5.98vw;
    }
}

.hostName {
    width: 3.33vw;
    font-size: 0.95vw;
    font-weight: bold;
    margin-right: 15%;
    @include fontPrimary;
}

.collapse-fiche-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
}

.collapseundefined {
    width: 32vw;
    margin: 0;
    list-style-type: none;
    color: $primary-color;
    text-align: left;


    .collapse__visible {
        justify-content: space-between;
        width: 32vw;
        margin-left: 0;
        margin-right: 0;
        padding: 17px 1px;
    }

    .collapse__toggle {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: left;
        padding: 17px 1px;

    }

    p {
        padding-left: 10px;
    }

    .collapse__toggle-animated {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: left;
        margin-bottom: 0;
        padding: 17px 1px;

    }
}