.tags-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;

    & .tagButton {
        background-color: $primary-color;
        padding: 5px 20px;
        border-radius: 13px;
        color: white;
        font-family: "Montserrat";
        font-size: 0.83vw;
        font-weight: bold;
    }
}

@media screen and (max-width:780px) {
    .tags-container {
        height: 35px;

        & .tagButton {
            font-size: 0.6em;
        }
    }


}