.tags-container {
    display: flex;
    justify-content: space-between;
    width: 50%;

    & .tagButton {
        background-color: $primary-color;
        padding: 5px;
        border-radius: 10px;
        color: white;
        font-family: "Montserrat";
        font-size: 10px;
        font-weight: bold;
    }
}