


//Header style//

.nav{
    margin-top:-40px;;
    margin-left:75%;
    font-size:24px;
}

.Home{
    color:#FF6060;
    padding-right:60px;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.About{
    color:#FF6060;
    padding-left:60px;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}


.header{
    margin-left:190px;
}

// Fin du header style//

//Slogan style//

.section1{
    margin-top: 130px;
    text-align: center;
}

.slogan{
    width:80%;
}
//fin su slogan style//

//Card//

.card{
    position:relative;
    display: flex;
    padding:15px;
    width:420px;
    height:420px;
    transition:transform 1s;
    & img{
        display: flex;
        width:100%;
        object-fit: cover;
        border-radius:10px;
    }
    & .logement-caption{
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 17px;
        width:92.8%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        ;
    } 
    & .title{
        display: flex;
        align-items: flex-end;
        position: relative;
        color: #f1f1f1;
        bottom:0px;
    }
}

    .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        gap: 20px;
        margin-top:40px;
        margin-right: auto;
        margin-left: auto;
        padding-top:100px;
        padding-bottom:20px;
        border-radius:10px;
        background-color: #f7f7f7;
        &.link-card-logement{
            text-decoration: none;
        }
}

